<div class="container">
    <div class="cv">
      <div class="about">
          Hi, I’m Jenn, an American photographer with a coffee addiction and 
          the human of a super awesome retired racer and rescued greyhound 
          named Samson. The pursuit of light, color, and texture have driven 
          me since I was 8 years old to the life of art and creativity.  
          I currently reside in Rock Hill, SC and continue to pursue creative
          exploration.
          <br/>
          <br/>
          Send all commissions and purchasing inquiries to: 
          <b>thejenniferhaggerty@gmail.com.</b>
      </div>
      <div id="cv">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Education</th>
              <th></th>
            </tr>
            <tr>
              <td scope="row">2012</td>
              <td> 
                BA of Arts in Art Studio <br/>
                University of South Carolina, SC
              </td>
            </tr>
            <tr>
              <th scope="row">Editorials</th>
              <th></th>
            </tr>
            <tr>
              <td scope="row">2016</td>
              <td>Gothesque Magazine August issue. Austin, TX </td>
            </tr>
            <tr>
              <td scope="row">2014</td>
              <td>
                Gothesque Magazine issue #11. New York, NY (cover) <br/>
                Tenebrous Magazine issue #8. New York, NY          <br/>
                Beautiful Bizarre Magazine. New York, NY           <br/>
                BadSkin Magazine. New York, NY                     <br/>
                Gothesque Magazine issue #11. New York, NY         <br/>
                Gothesque Magazine issue #10. New York, NY         <br/>
                Gothesque Magazine issue #9. New York, NY          <br/>
                Freque Magazine Vol. 5 Part 1. New York, NY
              </td>
            </tr>
            <tr>
              <td scope="row">2013</td>
              <td>
                Meadowlands Museum in Rutherford, New Jersey, NJ    <br/>
                Dark Beauty Magazine issue #24. New York, NY        <br/>
                Tenebrous Magazine issue #1. New York, NY           <br/>
                Strange Beauty Magazine premier issue. New York, NY <br/>
                Dark Beauty Magazine issue #19. New York, NY
              </td>
            </tr>
            <tr>
              <td scope="row">2012</td>
              <td>
                City Art in Columbia, South Carolina, SC
              </td>
            </tr>
            <tr>
              <td scope="row">2011</td>
              <td>
                Photographer’s Forum Magazine. Columbia, SC
              </td>
            </tr>
            <tr>
              <th scope="row">Shows</th>
              <th></th>
            </tr>
            <tr>
              <td scope="row">2015</td>
              <td> 
                Steampunk group exhibit. Meadowlands Museum, Rutherford, NJ
              </td>
            </tr>
            <tr>
              <td scope="row">2012</td>
              <td>
                “Launch” group exhibit. City Art, Columbia, SC
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>