/* You can add global styles to this file, and also import other style files */
body { 
  padding-top: 65px; 
}

div.gallery {
  display: inline;
}

div.gallery img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  body {
    padding-top: 120px;
  }
}